{% extends "dashboard/base.html" %}

{% block content %}
<div class="container">
	<div class="col-sm-12">
  <h5>Excercise: {{ assign.excercise }}</h5>
  <h5>Assign To: {{ assign.user.first_name }} {{ assign.user.last_name }}</h5>
  <h5>Assign Date: {{ assign.assign_at|date:"d/m/Y h:m A" }}</h5>

  <p></p>            
  <table class="table table-bordered" style="width: 90%;">
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer Type</th>
        <th>Answer</th>
        <th>Additional</th>
      </tr>
    </thead>
    <tbody>
    {% for ans in assign.answerq.all %}
      <tr>
        <td>{{ ans.question }}</td>
        <td>{{ ans.question.answer_format }}</td>
        <td>{{ ans.answer }}</td>
        <td>{{ ans.additional_answer }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>  
 </div>       
</div>
{% endblock %}