{% extends "dashboard/base.html" %}

{% block content %}
<div class="container">
	<div class="col-sm-12">
  <h2>Assign Table</h2>
  <a href="{% url 'assign_excercise_create' %}"><button type="button" class="btn btn-primary">Create Assign Excersice</button></a>
  <p></p>            
  <table class="table table-bordered" style="width: 90%;">
    <thead>
      <tr>
        <th>User</th>
        <th>Excercise</th>
        <th>Assign At</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for assing in assign_list %}
      <tr>
        <td>{{ assing.user }}</td>
        <td>{{ assing.excercise }}</td>
        <td>{{ assing.assign_at|date:"d/m/Y h:m A" }}</td>
        <td>{% if assing.answered %} Answered {% else %} Unanswered {% endif %} </td>
        <td>
          <a href="{% url 'assign_update' assing.id %}"><button type="button" class="btn btn-primary btn-xs">Edit</button></a>
          <a href="{% url 'assignexcercise_delete' assing.id %}"><button type="button" class="btn btn-primary btn-xs" style="margin-left: 5px;">Delete</button></a>
          {% if assing.answered %}  
          <a href="{% url 'assign_details' assing.id %}"><button type="button" class="btn btn-primary btn-xs" style="margin-left: 5px;">View Answer</button></a>
          {% endif %}

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>  
 </div>       
</div>
{% endblock %}