{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-sm-6">
 <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
 	{{ form|crispy }}

 <button type="submit" class="btn btn-primary pull-left">Submit</button>
</form>
</div>
{% endblock %}