{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Survey</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{% static 'css/survey-style.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

    <script src="{% static 'js/radio/jQuery.select2OptionPicker.js' %}"></script>

    <link href="{% static 'js/radio/select2OptionPicker.css' %}" rel="stylesheet">
    <link href="{% static 'js/radio/style.css' %}" rel="stylesheet">


  </head>

  <body>
    

    <div class="wrapper">
  <div class="row">
    
    <!-- main -->
    <div class="column col-xs-10" id="main">
      {% block content %}

      {% endblock %}
    </div>

    <!-- sidebar -->
    <div class="column col-xs-2" id="sidebar" style="padding-right: 0px;padding-left: 0px;">
      {% include "sidebar.html" %}
      
      
    </div>
    
  </div>

</div>

    {% block body_js %}
    {% endblock %}

  </body>

</html>