{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Hello, {{ request.user.first_name }} {{ request.user.last_name }}</h1>      
  </div>
  <p>Last login: {{ request.user.last_login }}</p> 
  <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">Logout</button></a>        
  <a href="{% url 'change_password' %}"><button type="button" class="btn btn-primary">Change Password</button></a>        
</div>
{% endblock %}