  <ul class="list-group">
  	<li class="list-group-item" style="border-radius: 0px;background-color: #aeaeae;">Excercises</li>
  	{%  for excercise in assign_excercise %}
    	<li class="list-group-item" style="border-radius: 0px;background-color: #eee;"><a href="{% url 'excercise-details' excercise.id %}">{{ excercise.excercise.excercise_name }}</a></li>
    {% empty %}
	<li class="list-group-item" style="border-radius: 0px;background-color: #eee;">No excercises</li>
    {%  endfor %}
	<li class="list-group-item" style="border-radius: 0px;background-color: #aeaeae;">Menu</li>

	<li class="list-group-item" style="border-radius: 0px;background-color: #eee;"><a href="/">Home</a></li>
	<li class="list-group-item" style="border-radius: 0px;background-color: #eee;"><a href="{% url 'logout' %}">Logout</a></li>
  </ul>




