{% extends "base.html" %}
{% load widget_tweaks %}

{% block body_js %}'
  <script>
    $('.standard-demo').select2OptionPicker();
  </script>
{% endblock %}

{% block content %}


<div class="col-sm-12">

{% for question in ex_page %}

  <div class="page-header">
    <h1>{{ question.title }}</h1>      
  </div>
  <p>{{ question.description|linebreaks }}</p>
  <form method="post" action="{% if ansform.instance.id %} {% url 'question-answer-update' ansform.instance.id %} {% else %} {% url 'question-answer' %}{% endif %}" id="ans_form_id">{% csrf_token %}

  <input type="hidden" name="user" id="id_user" value="{{ request.user.id }}">
  <input type="hidden" name="question" id="id_question" value="{{ question.id }}">
  <input type="hidden" name="assign" id="id_assign" value="{{ assign_obj.id }}">
  <input type="hidden" name="assign" id="id_answer_format" value="{{ question.answer_format }}">
  <input type="hidden" name="crntpage" id="id_crnt_page" value="{{ current }}">
      <div>
        {% if question.answer_format == "Binary" %}

          <select name="preselected-select" class="standard-demo" id="binary_value">
          {% if question.binary_format.item1 %}
          <option {% if ansform.instance.answer == question.binary_format.item1 %} selected="" {% endif %} value="{{ question.binary_format.item1 }}">{{ question.binary_format.item1 }}</option>
          {% endif %}
          {% if question.binary_format.item2 %}
          <option {% if ansform.instance.answer == question.binary_format.item2 %} selected="" {% endif %} value="{{ question.binary_format.item2 }}" >{{ question.binary_format.item2 }}</option>
          {% endif %}
          </select>

        {% elif question.answer_format == "Numeric" %}


          <select class="standard-demo" id="numeric_value">
          {% if question.numeric_format.numeric1 %}
          <option value="1" {% if ansform.instance.answer == "1" %} selected="" {% endif %}>1</option>
          {% endif %}
          {% if question.numeric_format.numeric2 %}
          <option value="2" {% if ansform.instance.answer == "2" %} selected="" {% endif %}>2</option>
          {% endif %}
          {% if question.numeric_format.numeric3 %}
          <option value="3" {% if ansform.instance.answer == "3" %} selected="" {% endif %}>3</option>
          {% endif %}
          {% if question.numeric_format.numeric4 %}
          <option value="4" {% if ansform.instance.answer == "4" %} selected="" {% endif %}>4</option>
          {% endif %}
          {% if question.numeric_format.numeric5 %}
          <option value="5" {% if ansform.instance.answer == "5" %} selected="" {% endif %}>5</option>
          {% endif %}
          {% if question.numeric_format.numeric6 %}
          <option value="6" {% if ansform.instance.answer == "6" %} selected="" {% endif %}>6</option>
          {% endif %}
          {% if question.numeric_format.numeric7 %}
          <option value="7" {% if ansform.instance.answer == "7" %} selected="" {% endif %}>7</option>
          {% endif %}
          {% if question.numeric_format.numeric8 %}
          <option value="8" {% if ansform.instance.answer == "8" %} selected="" {% endif %}>8</option>
          {% endif %}
          {% if question.numeric_format.numeric9 %}
          <option value="9" {% if ansform.instance.answer == "9" %} selected="" {% endif %}>9</option>
          {% endif %}
          {% if question.numeric_format.numeric10 %}
          <option value="10" {% if ansform.instance.answer == "10" %} selected="" {% endif %}>10</option>
          {% endif %}
          </select>

<div class="select2OptionPicker"><ul class="select-buttons">
          {% if question.numeric_format.numeric1 %}<li>{{  question.numeric_format.numeric1 }}</li>{% endif %}

          {% if question.numeric_format.numeric2 %}<li>{{  question.numeric_format.numeric2 }}</li>{% endif %}

          {% if question.numeric_format.numeric3 %}<li>{{  question.numeric_format.numeric3 }}</li>{% endif %}

          {% if question.numeric_format.numeric4 %}<li>{{  question.numeric_format.numeric4 }}</li>{% endif %}

          {% if question.numeric_format.numeric5 %}<li>{{  question.numeric_format.numeric1 }}</li>{% endif %}

          {% if question.numeric_format.numeric6 %}<li>{{  question.numeric_format.numeric6 }}</li>{% endif %}

          {% if question.numeric_format.numeric7 %}<li>{{  question.numeric_format.numeric7 }}</li>{% endif %}

          {% if question.numeric_format.numeric8 %}<li>{{  question.numeric_format.numeric8 }}</li>{% endif %}

          {% if question.numeric_format.numeric9 %}<li>{{  question.numeric_format.numeric9 }}</li>{% endif %}

          {% if question.numeric_format.numeric10 %}<li>{{  question.numeric_format.numeric10 }}</li>{% endif %}


</ul>



</div>

        {% elif question.answer_format == "Choice" %}


          <select id="choice_value" class="standard-demo">
          {% if question.choice_item_format.item1 %}
          <option {% if ansform.instance.answer == question.choice_item_format.item1 %} selected="" {% endif %} value="{{ question.choice_item_format.item1 }}">{{ question.choice_item_format.item1 }}</option>
          {% endif %}
          {% if question.choice_item_format.item1 %}
          <option {% if ansform.instance.answer == question.choice_item_format.item2 %} selected="" {% endif %} value="{{ question.choice_item_format.item2 }}">{{ question.choice_item_format.item2 }}</option>
          {% endif %}
          {% if question.choice_item_format.item3 %}
          <option {% if ansform.instance.answer == question.choice_item_format.item3 %} selected="" {% endif %} value="{{ question.choice_item_format.item3 }}">{{ question.choice_item_format.item3 }}</option>
          {% endif %}
          </select>

        {% elif question.answer_format == "Textbox" %}
          <div class="textbox">
            {% render_field ansform.answer class="form-control" style="display: inline;margin-top: 15px" rows="2" %}
          </div>  
        {% endif %}



      </div>
      {% if question.additional_box %}

        <div class="additional">
          {% render_field ansform.additional_answer class="form-control" style="display: inline;margin-top: 15px" rows="2" %}
        </div>
      {% endif %}


      <div class="col-sm-12" style="margin-top: 50px;background-color: #cbc0c04d;padding: 13px;">
        {% if ex_page.has_other_pages %}

        {% if ex_page.has_previous %}
        <a href="?question={{ ex_page.previous_page_number }}"><button class="btn btn-info" type="button">BACK</button></a>
        {% endif %}
        {% if ex_page.has_next %}
          <a href="?question={{ ex_page.next_page_number }}" class="pull-right"><button class="btn btn-info" type="submit">SAVE</button></a>
          <input type="hidden" value="?question={{ ex_page.next_page_number }}" id="nexturl">
        <a href="?question={{ ex_page.next_page_number }}" class="pull-right"><button class="btn btn-info" type="button" style="margin-right: 10px">SKIP</button></a>
        {% else %}
        <input type="hidden" value="/" id="nexturl">
        <a href="" class="pull-right"><button class="btn btn-info" type="submit">COMPLETE</button></a>
        {% endif %}

        {% endif %}
      </div>
  </form>

{% empty %}
<p>404</p>
{% endfor %}

</div>



<footer class="footer" style="z-index: 99">
  <div class="col-sm-6" style="margin-top: 10px;">
  <small>{{ current }} of {{ total }} questions</small>
 <div class="progress" style="margin-bottom: 0px;">

  <div data-percentage="0%" style="width: {{ completep }}%;" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
<div class="col-sm-6" style="margin-top: 5px;">
  <p class="pull-right" style="color: #535353e6;">
    <b>{{ request.user.first_name }} {{ request.user.last_name }}</b><br>
    <b>{{ today|date:'l dS M' }}</b>
  </p>
</div>
</footer>

{% endblock %}