{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <div class="col-sm-4 col-sm-offset-4">
    <h3>LOGIN</h3>
    <hr/>
  <form class="" method='POST' action='' enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form|crispy }}
      <div class="form-group">
        <input type='submit' class='btn btn-primary' value='{{ title }}' />
        <a href="{% url 'register' %}"><input type='button' class='btn btn-primary' value='Signup' /></a>
        <a href="{% url 'password_reset' %}" class="btn btn-link">Forgot your password?</a>
      </div>
  </form>
    </div>
{% endblock content %}
