{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  {% if validlink %}

  <div class="col-sm-4 col-sm-offset-4">>
      <h3>Change password</h3>
    <hr/>
  <form class="form-horizontal" method='POST' action='' enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form|crispy }}
      <div class="form-group">
        <input type='submit' class='btn btn-primary' value='Change password' />
      </div>
  </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
    </div>