{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
 <div class="col-sm-4 col-sm-offset-4">>
  <p>Your password has been set.You may go ahead and
  <a href="{% url 'login' %}">sign in</a> now.</p>
 </div>
{% endblock %}