{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
 <div class="col-sm-4 col-sm-offset-4">
      <h3>Change password</h3>
    <hr/>
  <form class="form-horizontal" method='POST' action='' enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form|crispy }}
      <div class="form-group">
        <input type='submit' class='btn btn-primary' value='Submit' />
      </div>
  </form>
      </div>
{% endblock %}