{% extends "dashboard/base.html" %}

{% block content %}
<div class="container">
	<div class="col-sm-12">
  <h2>Question Table</h2>
  <a href="{% url 'question_create' %}"><button type="button" class="btn btn-primary">Create question</button></a>
  <p></p>            
  <table class="table table-bordered" style="width: 95%;">
    <thead>
      <tr>
        <th>Excercise</th>
        <th>Title</th>
        <th>Description</th>
        <th>Answer Format</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for question in question_list %}
      <tr>
        <td>{{ question.excercise }}</td>
        <td>{{ question.title|truncatechars:20 }}</td>
        <td>{{ question.description|truncatechars:20  }}</td>
        <td>{{ question.answer_format }}</td>
        <td><a href="{% url 'question_update' question.id %}"><button type="button" class="btn btn-primary btn-xs">Edit</button></a><a href="{% url 'question_delete' question.id %}"><button type="button" class="btn btn-primary btn-xs" style="margin-left: 5px;">Delete</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>  
 </div>       
</div>
{% endblock %}
