{% extends "dashboard/base.html" %}

{% block content %}
<div class="container">
	<div class="col-sm-12">
  <h2>Excercise Table</h2>
  <a href="{% url 'excercise_create' %}"><button type="button" class="btn btn-primary">Create Excercise</button></a>
  <p></p>            
  <table class="table table-bordered" style="width: 90%;">
    <thead>
      <tr>
        <th>Project</th>
        <th>Excercise name</th>
        <th>Created by</th>
        <th>Created at</th>
        <th>Updated</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for excercise in excercise_list %}
      <tr>
        <td>{{ excercise.project }}</td>
        <td>{{ excercise.excercise_name }}</td>
        <td>{{ excercise.created_by }}</td>
        <td>{{ excercise.created_at }}</td>
        <td>{{ excercise.updated }}</td>
        <td><a href="{% url 'excercise_update' excercise.id %}"><button type="button" 
          class="btn btn-primary btn-xs">Edit</button></a>
          <a href="{% url 'excercise_delete' excercise.id  %}"> <button type="button" class="btn btn-primary btn-xs" style="margin-left: 5px;">Delete</button></a>
       </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>  
 </div>       
</div>
{% endblock %}

