{% extends "dashboard/base.html" %}

{% block content %}
<div class="container">
	<div class="col-sm-12">
  <h2>Project Table</h2>
  <a href="{% url 'project_create' %}"><button type="button" class="btn btn-primary">Create Project</button></a>
  <p></p>            
  <table class="table table-bordered" style="width: 90%;">
    <thead>
      <tr>
        <th>Project name</th>
        <th>Created by</th>
        <th>Created at</th>
        <th>Updated</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for project in project_list %}
      <tr>
        <td>{{ project.project_name }}</td>
        <td>{{ project.created_by }}</td>
        <td>{{ project.created_at }}</td>
        <td>{{ project.updated }}</td>
        <td><a href="{% url 'project_update' project.id %}"><button type="button" class="btn btn-primary btn-xs">Edit</button></a><a href="{% url 'project_delete' project.id %}"><button type="button" class="btn btn-primary btn-xs" style="margin-left: 5px;">Delete</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>  
 </div>       
</div>
{% endblock %}